#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.button {
  border-radius: 5px;
  width: 100px;
  color: #fff;
  border: none;
  padding: 12px 10px;
  margin: 0 5px;
  cursor: pointer;
}